@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Mono:ital@1&display=swap");

.imageContainer {
  width: 50%;
}
.notFoundImage {
  width: 100%;
}

body {
  font-family: "Space Mono", monospace;
}

.indexWrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding-top: 100px;
}

.notFoundText {
  width: 500px;
  padding-left: 50px;
}

.notFoundHeader {
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  line-height: 60px;
}

.notFoundSubHeader {
  width: 80%;
  margin-top: 30px;
  font-size: 24px;
}

.backToHomePage {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 12px 20px;
  font-size: 12px;
  margin-top: 30px;
}

@media (max-width: 900px) {
  .indexWrapper {
    flex-direction: column;
    margin: 0px;
    width: 100%;
    padding-top: 50px;
  }

  .notFoundHeader{
      font-size: 40px;
  }

  .notFoundText{
      width: 100%;
      padding: 20px;
      
  }

  .imageContainer{
      text-align: center;
      width: 100%;
  }

  .notFoundImage{
      width: 90%;
  }

  .notFoundSubHeader{
      font-size: 16px;
  }

  .backToHomePage{
      margin-top: 50px;
  }
}
